@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer component {
	.btn {
		background-color: theme('colors.gray-light');
	}
	.card {
		border-radius: theme('borderRadius.lg');
		padding: theme('spacing.6');
		box-shadow: theme('boxShadow.xl');
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
